<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>850382932609-n9fcqlo1ssth5521ujfmhe64uk8fqrb0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.850382932609-n9fcqlo1ssth5521ujfmhe64uk8fqrb0</string>
	<key>API_KEY</key>
	<string>AIzaSyDmSi6uVPXk73j4EAXaqbvZ8bRNLU82WTM</string>
	<key>GCM_SENDER_ID</key>
	<string>850382932609</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>john.tw.Launch</string>
	<key>PROJECT_ID</key>
	<string>trainforswift-f4067</string>
	<key>STORAGE_BUCKET</key>
	<string>trainforswift-f4067.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:850382932609:ios:842b24d27aabef76</string>
	<key>DATABASE_URL</key>
	<string>https://trainforswift-f4067.firebaseio.com</string>
</dict>
</plist>